.app {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #F3F3F3;
}

.unselected-btn {
  background-color: 'white';
  color: '#A1ACAB';
}

.selected-btn {
  color: white;
  background-color: #217EAA;
}

.text-link {
  text-decoration: none;
}